.HeroSection__image {
  margin: 0 auto;
  max-width: 570px;
}

.header-text {
  color: #363636;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125;
}

.header-section {
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 20px;
}
