.account-margin {
	margin-top: 25px;
}

.payment-block-header { 
	text-align: left !important;
	background: lightgreen;
	padding: 10px;
	color: black;
}

.payment-block {
	margin: 5px;
}

.live-block {
	display: block;
	width: 600px;
	padding: 25px;
	border: 1px solid lightgreen;
	text-align: left !important;
}