.account-margin {
	margin-top: 25px;
}

.deposit-section input {
	margin-bottom: 20px;
}

.validate-button {
	margin-bottom: 20px;
}
.send-button { padding: 15px;}

.deposit-section p {
	font-weight: bold;
	margin-bottom: 20px;
}