.Testimonials__card {
  flex-direction: column;
}

.Testimonials__card-content {
  flex-direction: column;
  height: 100%;
  padding: 1.8rem;
}

.Testimonials__avatar-wrapper {
  margin: 0 auto;
}

.Testimonials__quote {
  margin-top: 30px;
}

.Testimonials__info {
  margin-top: auto;
  padding-top: 40px;
}

.Testimonials__company {
  margin-top: 3px;
}
