.Auth {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.Auth__bottom-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  a {
    margin: 0 0.5rem;
  }
}

.login-button {
  cursor: pointer;
  display: block;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.or-text {
  font-weight: bold;
  font-size: 16px;
}

.sign-in-button img {
  display: block;
  margin: 0 auto;
}

.loading-spinner { 
  display: block;
  margin: 0 auto;
  max-width: 300px;
}